<div class="container-fluid bg-danger" id="menu" >
  <div class="col-md-18">
<ul class="nav justify-content nav nav-pills">
  <li class="nav-item" id="logo" >
      <img src="https://p1.hiclipart.com/preview/951/574/485/react-logo-javascript-redux-vuejs-angular-angularjs-expressjs-front-and-back-ends-png-clipart.jpg" width="100px" height="100px" >
      <span style="color: blue;">JAVASCRIPT QUIZ </span>
  </li>
  <li class="nav-item">
    <a style="border:1px ;color: chartreuse;" class="nav-link" routerLink="/aboutus">ABOUT US</a>
  </li>
   </ul>
</div>
</div>