<div class="container-lg bg-success d-flex" id="bg">
    <div class="col-md-10" id="wel">
    <h1 style="border: 1px;">WELCOME TO QUIZ APP</h1>
    <p class="mx-sm-2 my-sm-1 text-light">
        <i class="fa-solid fa-chevron-right">Upgrade yourself by solving different quizes daily.<br></i>
        <i class="fa-solid fa-chevron-right">This Test contains only 5 questions.</i><br><br><br></p>
        <h3>Enter your name and start the test</h3><br>
        <h4 style="text-align:center ;">All the Best!!!</h4>
        <div class="text-dark">
        <label for="name"> Enter your name</label>
        <input #name type="text" name="name" class="form-control"/><br><br>
        <button type="button" class="btn btn-primary" routerLink="/question" (click)="startQuize()">Start test!!</button><br><br>
    </div>
</div>
</div>